<header>
    <div id="menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About Me</a>
        </li>
        <li>
            <a href="/projects">Projects</a>
        </li>
        <li>
            <a href="/services">Services</a>
        </li>
    </ul>
    <a href="https://wa.me/+79528885656?text=hi, I'm need landing page!">
        <button>WhatsApp</button>
    </a>
</header>