<style>
    h1{
        font-size:64px;
        display: grid;
        z-index:100;
        position: relative;

    }
    h1::after{
        content: " ";
        display:block;
        width:100%;
        max-width:1170px;
        height:27px;
        background-color: rgb(170, 255, 170);
        position:absolute;
        top:37px;
        z-index:-1;
    }
    .box{
        width:100%;
        max-width:654px;
    }
    .box > p{
        margin-top:3%;
        margin-bottom:3%;
    }
    h2{
        font-size:25px;
    }
</style>
<h1><%- title %></h1>
<div class="box">
   
    <h2><%= name %> <a href='https://qucu.ru/resume/Amir.html'>📜</a></h2>
    <p><%= article %></p>
</div>